.drawer .drawer__list {
  padding: 20px 0;
  height: 100%;
}

.drawer .drawer__item {
  padding: 15px 30px;
  font-size: 30px;
  display: block;
  text-align: center;
  font-family: "Righteous", cursive;
}

.drawer .drawer__item:hover {
  background-color: rgba(128, 13, 42, 0.4);
}
